body {
  margin: 0;
  background-color: #f5f5f5 !important;
}

.App {
  font-family: "Lato", sans-serif;
}

.App-content {
  max-width: 800px;
  margin: 0 auto;
}

.App-body {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 25px;
  position: relative;
}

.App-body.disclaimer {
  font-size: 0.7em;
}

@media (max-width: 800px) {
  .App-body {
    max-width: calc(100% - 60px);
    margin-top: 30px;
  }
  .ui.selection.dropdown {
    min-width: 13em !important;
  }
}

@media (min-width: 1024px) {
  .App-body {
    max-width: 1000px; /* Matches .App-header-content above */
  }
}

.ui.progress:last-child {
  margin: 0 !important;
}
